// ---------------------------------------------------------- fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap');
// ========================================================== / fonts
// ---------------------------------------------------------- mixins
@mixin bg_logo () {
    &::before {
        content: "ventas";
        position: absolute;
        left: 60%;
        font-family: 'Montserrat';
        font-weight: 900;
        font-size: 350px;
        line-height: 137.4%;
        /* identical to box height, or 481px */
        letter-spacing: 0.135em;
        color: #fff;
        text-shadow: rgba(35, 80, 134, 0.2) 0 0 2px;
    }
}

// ========================================================== / mixins
// ---------------------------------------------------------- variables
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1199px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
// ========================================================== / variables
// --- commons
* {
    box-sizing: border-box;
}

.body {
    font-family: 'Montserrat';
    font-size: 18px;
    p {
        line-height: 153.4%;
    }
    a,
    a:hover {
        text-decoration: none;
        color: #fff;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .container {
        max-width: 1280px;
    }
    .main_btn {
        display: inline-block;
        line-height: 137.4%;
        color: #000000;
        min-width: 241px;
        line-height: 53px;
        text-align: center;
        background: #FFFFFF;
        position: relative;
        z-index: 2;
        &::after {
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
            width: 100%;
            height: 100%;
            border: 2px solid #FFFFFF;
            z-index: 1;
        }
        &:hover {
            color: #000000;
        }
    }
    .logo {
        font-family: 'Montserrat Alternates';
        font-weight: 900;
        font-size: 35px;
        line-height: 137.4%;
        /* identical to box height, or 48px */
        color: #FFFFFF;
    }
}

section {
    padding-bottom: 100px;
    overflow-x: hidden;
}

// === / commons
// --- header
.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 96px;
    transition: .3s;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: rgba($color: #1D1B1B, $alpha: .6);
        transition: .3s;
    }
    &.active {
        &::before {
            height: 100%;
        }
    }
    .nav_link {
        display: inline-block;
        padding: 57px 16px 16px;
        transition: .5s;
        &.active {
            background-color: #235086;
        }
    }
}

// === / header
// --- intro
.section_intro {
    background-color: #F0AC5D;
    padding-top: 165px;
    padding-bottom: 150px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/intro.jpg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        margin-left: 43%;
    }
    .text_box {
        position: relative;
        z-index: 1;
        color: #FFFFFF;
        .text_title {
            font-size: 61px;
            line-height: 137.4%;
        }
        .text_subtitle {
            line-height: 137.4%;
            font-weight: 500;
            font-size: 24px;
        }
    }
}

// === / intro
// --- promo
.section_promo {
    position: relative;
    height: 700px;
    @include bg_logo();
}

// === / promo