// ---------------------------------------------------------- fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap');
// ========================================================== / fonts
// ---------------------------------------------------------- mixins
@mixin figure_cylinder ($height: 100px) {
    height: $height;
    width: 54px;
    border: 1px solid rgba($color: #fff, $alpha: 0.2);
    border-radius: 27px;
}

@mixin figure_circle {
    height: 54px;
    width: 54px;
    border: 1px solid rgba($color: #fff, $alpha: 0.2);
    border-radius: 50%;
}

// ========================================================== / mixins
// ---------------------------------------------------------- variables
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1199px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
// ========================================================== / variables
// --- commons
* {
    box-sizing: border-box;
}

.body {
    font-family: 'Montserrat';
    font-size: 18px;
    p {
        line-height: 153.4%;
    }
    a,
    a:hover {
        text-decoration: none;
        color: #fff;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .container {
        max-width: 1280px;
    }
    .main_btn {
        display: inline-block;
        line-height: 137.4%;
        color: #000000;
        min-width: 241px;
        line-height: 53px;
        text-align: center;
        background: #FFFFFF;
        position: relative;
        z-index: 2;
        transition: .2s ease;
        &::after {
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
            width: 100%;
            height: 100%;
            border: 2px solid #FFFFFF;
            z-index: 1;
            transition: .1s ease;
        }
        &:hover {
            color: #000000;
        }
        &:active {
            transform: translate(4px, 4px);
            &::after {
                left: 0;
                top: 0;
            }
        }
    }
    .logo {
        font-family: 'Montserrat Alternates';
        font-weight: 900;
        font-size: 35px;
        line-height: 137.4%;
        color: #FFFFFF;
    }
    .bg_logo {
        color: transparent;
        -webkit-text-stroke: 1px rgba(35, 80, 134, 0.2);
        font-weight: 900;
        line-height: 1;
        letter-spacing: 0.135em;
    }
    .section_title {
        font-weight: 500;
        font-size: 60px;
        line-height: 137.4%;
        /* or 84px */
        text-transform: uppercase;
        color: #000000;
        // max-width: 33.3%;
        position: relative;
        z-index: 3;
        span {
            color: #fff;
            position: relative;
            z-index: 2;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            height: 84px;
            width: 300%;
            background-color: #235086;
        }
    }
    .section_title_wrap {
        padding-right: 75px;
    }
    .button_up {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 60px;
        bottom: 60px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 1px solid #235086;
        z-index: 1000;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        &:active {
            transform: scale(0.9);
        }
        &.show {
            opacity: 1;
            visibility: visible;
        }
        img {
            width: 40px;
        }
    }
    @media (min-width: $screen_xl) {
        .bg_logo {
            font-size: 350px;
        }
    }
    @media (max-width: $screen_lg_max) {
        .container {
            padding-left: 30px;
            padding-right: 30px;
        }
        .section_title_wrap {
            padding-right: 45px;
        }
        .bg_logo {
            font-size: 200px;
        }
    }
    @media (max-width: $screen_xs_max) {
        font-size: 16px;
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
        .logo {
            font-size: 30px;
        }
        .section_title {
            font-size: 34px;
        }
        .main_btn {
            min-width: 176px;
            line-height: 46px;
        }
        .bg_logo {
            font-size: 75px;
        }
        .section_title::before {
            height: 48px;
        }
        .section_title_wrap {
            padding-right: 52px;
        }
    }
}

section {
    padding-top: 150px;
    overflow: hidden;
    @media (max-width: $screen_lg_max) {
        padding-top: 100px;
    }
}

// === / commons
// --- header
.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: rgba($color: #1D1B1B, $alpha: .6);
        transition: .6s;
    }
    &.active {
        &::before {
            height: 100%;
        }
    }
    .menu_item {
        transition: .3s;
        &.active {
            background-color: #235086;
        }
    }
    .nav_link {
        position: relative;
        display: inline-block;
        padding: 57px 16px 16px;
        z-index: 100;
        transition: .5s;
    }
    @media (max-width: $screen_md_max) {
        background-color: #F0AC5D;
        padding: 20px 0;
        position: fixed;
        top: 0;
        .menu {
            position: fixed;
            flex-direction: column;
            background-color: #F0AC5D;
            left: 0px;
            top: 81px;
            height: 100%;
            transform: translateX(-105%);
            transition: .3s;
            .nav_link {
                padding-top: 30px;
                width: 100%;
            }
            &.active {
                transform: translateX(0);
            }
        }
        .call_btn {
            position: relative;
            img {
                width: 26px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -20px;
                left: 50%;
                margin-left: -20px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: rgba($color: #fff, $alpha: 0);
                transition: .3s;
            }
            &:active {
                &::after {
                    transform: scale(1.5);
                    background-color: rgba($color: #fff, $alpha: .3);
                }
            }
        }
        .toggle_button {
            position: relative;
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -20px;
                left: 50%;
                margin-left: -20px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: rgba($color: #fff, $alpha: 0);
                transition: .3s;
            }
            &:active {
                &::after {
                    transform: scale(1.5);
                    background-color: rgba($color: #fff, $alpha: .3);
                }
            }
            .button_item+.button_item {
                margin-top: 5px;
            }
            .button_item {
                position: relative;
                z-index: 3;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transition: .3s;
            }
            &.active {
                .button_item {
                    &__top {
                        width: 58%;
                        transform: translate(0px, 2px) rotate(-30deg);
                    }
                    &__bot {
                        width: 58%;
                        transform: translate(0px, -2px) rotate(30deg);
                    }
                }
            }
        }
    }
}

// === / header
// --- intro
.section_intro {
    background-color: #F0AC5D;
    padding-top: 165px;
    padding-bottom: 150px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        margin-left: 43%;
    }
    .text_box {
        position: relative;
        z-index: 1;
        color: #FFFFFF;
        .text_title {
            font-size: 61px;
            line-height: 137.4%;
        }
        .text_subtitle {
            line-height: 137.4%;
            font-weight: 500;
            font-size: 24px;
        }
    }
    @media (max-width: $screen_lg_max) {
        padding-bottom: 60px;
    }
    @media (max-width: $screen_md_max) {
        &::after {
            margin-left: 0%;
        }
        .text_box {
            z-index: 6;
            .text_title {
                font-size: 32px;
            }
            .text_subtitle {
                font-size: 16px;
            }
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_md_max) {
        min-height: 800px;
        .text_box {
            margin-top: 300px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #444444, $alpha: 0.5);
            z-index: 5;
        }
    }
    @media (min-width: $screen_sm) {
        &::after {
            background-image: url(../img/intro.jpg);
            background-size: auto 100%;
        }
    }
    @media (max-width: $screen_xs_max) {
        margin-top: 80px;
        padding-bottom: 96px;
        &::after {
            background-image: url(../img/intro_mob.jpg);
        }
    }
}

// === / intro
// --- promo
.section_promo {
    position: relative;
    .bg_logo {
        position: absolute;
        left: 60%;
        top: 0%;
    }
    .promo_text {
        line-height: 137.4%;
    }
    .promo_card {
        margin-top: 75px;
        padding: 50px 40px;
        height: 410px;
        position: relative;
        .card_num {
            position: absolute;
            top: 15px;
            right: 15px;
            font-weight: 500;
            font-size: 18px;
            line-height: 153.4%;
            color: rgba($color: #fff, $alpha: 0.2);
        }
        .card_title {
            font-weight: 500;
            font-size: 34px;
            line-height: 137.4%;
            /* identical to box height, or 47px */
            color: #FFFFFF;
        }
        .card_description {
            position: relative;
            z-index: 3;
            margin-top: 25px;
            font-weight: 500;
            font-size: 18px;
            line-height: 152.9%;
            /* or 28px */
            color: #FFFFFF;
        }
        .some_text {
            font-weight: 500;
            font-size: 12px;
            line-height: 153.4%;
            /* or 18px */
            color: #235086;
        }
        &__1 {
            .card_description {
                max-width: 288px;
            }
            .some_text {
                position: absolute;
                left: 89px;
                bottom: 55px;
            }
            .figure_1 {
                position: absolute;
                left: 68px;
                bottom: -65px;
                @include figure_cylinder(187px);
                transform: rotate(90deg);
            }
            .figure_2 {
                position: absolute;
                left: 189px;
                bottom: 1px;
                @include figure_cylinder();
            }
            .figure_3 {
                position: absolute;
                right: 1px;
                bottom: 55px;
                @include figure_cylinder();
            }
            .figure_4 {
                position: absolute;
                left: 243px;
                bottom: 1px;
                @include figure_circle();
            }
            .figure_5 {
                position: absolute;
                right: 1px;
                bottom: 242px;
                @include figure_circle();
            }
        }
        &__2 {
            overflow: hidden;
            .line_1 {
                position: absolute;
                left: 28px;
                top: 239px;
                height: 44%;
                width: 1px;
                background-color: #FFFFFF;
                transform: rotate(-20deg);
            }
            .line_2 {
                position: absolute;
                right: 129px;
                bottom: -44px;
                height: 147%;
                width: 1px;
                background-color: #FFFFFF;
                transform: rotate(27deg);
            }
            .line_3 {
                position: absolute;
                right: 53px;
                bottom: -44px;
                height: 147%;
                width: 1px;
                background-color: #FFFFFF;
                transform: rotate(-27deg);
            }
            .some_bg_text {
                position: absolute;
                right: 5px;
                font-weight: 900;
                bottom: 5px;
                font-size: 42px;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                color: transparent;
                -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
            }
        }
        &__3 {
            .card_description {
                max-width: 288px;
            }
            .some_text__1 {
                position: absolute;
                left: 37px;
                bottom: 18px;
            }
            .some_text__2 {
                position: absolute;
                transform: rotate(-90deg);
                right: -7px;
                bottom: 118px;
            }
            .figure_1 {
                position: absolute;
                right: 244px;
                bottom: 1px;
                @include figure_circle();
            }
            .figure_2 {
                position: absolute;
                right: 189px;
                bottom: 1px;
                @include figure_cylinder();
            }
            .figure_3 {
                position: absolute;
                right: 68px;
                bottom: -65px;
                @include figure_cylinder(187px);
                transform: rotate(90deg);
            }
            .figure_4 {
                position: absolute;
                right: 1px;
                bottom: 196px;
                @include figure_circle();
            }
            .figure_5 {
                position: absolute;
                right: 67px;
                bottom: 254px;
                @include figure_circle();
            }
        }
    }
    @media (max-width: $screen_lg_max) {
        .promo_card_wrap {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    @media (max-width: $screen_md_max) {
        .bg_logo {
            left: 32%;
        }
    }
    @media (min-width: $screen_sm) {
        .promo_text {
            font-size: 36px;
        }
    }
    @media (max-width: $screen_xs_max) {
        .promo_text {
            text-align: center;
        }
        .promo_card {
            margin-top: 40px;
            padding: 25px;
            height: 320px;
            .card_title {
                font-size: 26px;
            }
        }
    }
}

// === / promo
// --- stages
.section_stages {
    position: relative;
    .bg_logo-1 {
        position: absolute;
        left: 36%;
        top: -63px;
    }
    .bg_logo-2 {
        position: absolute;
        right: 767px;
        top: -340px;
    }
    .section_title {
        margin-bottom: 45px;
    }
    .stages_image-1 {
        padding-top: 30px;
        img {
            width: 100%;
        }
    }
    .stages_list {
        margin-bottom: 150px;
        .list_item {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-top: 30px;
            padding-bottom: 15px;
            border-bottom: 2px solid #3F3F3F;
            .item_num {
                font-weight: 900;
                font-size: 20px;
                line-height: 137.4%;
                /* or 27px */
                color: #C4C4C4;
            }
            .item_title {
                width: 60%;
                text-align: right;
            }
        }
    }
    .stages_image-2 {
        position: absolute;
        right: 0;
        z-index: 3;
        img {
            width: 100%;
        }
    }
    .color_card {
        position: relative;
        background: #F0AC5D;
        padding: 70px 0;
        .card_item+.card_item {
            margin-top: 60px;
        }
        .card_item {
            font-weight: 600;
            color: #FFFFFF;
            &__num {
                font-size: 36px;
                line-height: 1;
            }
        }
        .bg_text-1,
        .bg_text-2,
        .bg_text-3 {
            position: absolute;
            z-index: 2;
            color: transparent;
            -webkit-text-stroke: 1px rgba($color: #fff, $alpha: .4);
            font-weight: 600;
        }
        .bg_text-1 {
            font-size: 96px;
            top: -46px;
            left: -4px;
        }
        .bg_text-2 {
            font-size: 170px;
            top: 107px;
            left: 135px;
        }
        .bg_text-3 {
            font-size: 150px;
            bottom: -63px;
            left: -18px;
        }
    }
    @media (min-width: $screen_xl) {
        .color_card {
            margin-top: 116px;
        }
    }
    @media (max-width: $screen_lg_max) {
        .bg_logo-1 {
            top: 35px;
        }
        .bg_logo-2 {
            right: 486px;
            top: -253px;
        }
        .stages_image-2 {
            width: 64%;
            top: 72px;
        }
    }
    @media (max-width: $screen_md_max) {
        .stages_image-2 {
            // width: 64%;
            top: 210px;
        }
        .color_card .bg_text-2 {
            top: 67px;
        }
        .bg_logo-2 {
            right: 60px;
            top: -230px;
        }
        .bg_logo-1 {
            left: 46%;
        }
    }
    @media (max-width: $screen_xs_max) {
        .bg_logo-1 {
            left: -31%;
            top: -74px;
        }
        .stages_list {
            margin-bottom: 100px;
            .list_item {
                padding-top: 20px;
                padding-bottom: 5px;
                .item_title {
                    width: 80%;
                }
                .item_num {
                    font-size: 16px;
                }
            }
        }
    }
}

// === / stages
// --- advantages
.section_advantages {
    .bg_logo-1 {
        position: absolute;
        top: -150px;
        left: 500px;
    }
    .section_title {
        margin-bottom: 75px;
    }
    .advantages_area {
        background: url(../img/advantages.jpg) no-repeat 0 0;
        background-size: cover;
        overflow: hidden;
        padding-bottom: 65px;
        height: 812px;
        display: flex;
        align-items: flex-end;
    }
    .slider_item {
        position: relative;
        border: 1px solid #fff;
        transition: .3s;
        .text_box {
            padding: 30px;
            position: relative;
            z-index: 2;
            .item_num {
                font-weight: 900;
                font-size: 20px;
                line-height: 144.4%;
                /* identical to box height, or 29px */
                color: #FFFFFF;
                margin-bottom: 30px;
            }
            .item_description {
                font-weight: 600;
                line-height: 137.4%;
                /* or 34px */
                color: #FFFFFF;
            }
        }
        .bg_color {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: .3s;
            &__1 {
                background: #F0AC5D;
            }
            &__2 {
                background: #235086;
            }
            &__3 {
                background: #1D1B1B;
            }
            &__4 {
                background: #F0AC5D;
            }
            &__5 {
                background: #235086;
            }
        }
        &:hover {
            // transform: scale(1.01);
            .bg_color {
                opacity: 0.2;
            }
        }
    }
    .slick-slider {
        transition: .3s;
        .slick-slide {
            cursor: pointer;
            max-width: 380px;
            min-height: 340px;
            outline: none;
            margin: 2px 20px;
        }
        .slick-current {
            margin: 0 20px;
            min-height: 344px;
            &.slider_item {
                border: 1px solid rgba(255, 255, 255, 0);
                .bg_color {
                    transition: .3s;
                    opacity: 1;
                }
            }
        }
        .slick-arrow {
            position: absolute;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255, 1.0);
            font-size: 0;
            background-color: rgba($color: #fff, $alpha: 0);
            background-repeat: no-repeat;
            outline: none;
            transition: .3s;
            &.slick-prev {
                background-image: url(../img/svg/slick-prev.svg);
                background-position: 35%;
            }
            &.slick-next {
                background-image: url(../img/svg/slick-next.svg);
                background-position: 65%;
            }
            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.3);
            }
            &:active {
                border: 2px solid rgba(255, 255, 255, 0);
                background-color: rgba($color: #fff, $alpha: 0.7);
            }
        }
    }
    @media (min-width: $screen_xl) {
        .slick-arrow {
            &.slick-prev {
                left: 1025px;
            }
            &.slick-next {
                left: 1100px;
            }
        }
    }
    @media (min-width: $screen_sm) {
        .slick-arrow {
            top: -75px;
        }
        .slider_item .text_box .item_description {
            font-size: 25px;
        }
        .slick-list {
            padding-left: 85px;
        }
    }
    @media (max-width: $screen_lg_max) {
        .slick-arrow {
            &.slick-prev {
                left: 74vw;
            }
            &.slick-next {
                left: 81vw;
            }
        }
        .bg_logo-1 {
            top: -26px;
        }
    }
    @media (max-width: $screen_md_max) {
        .slick-arrow {
            &.slick-prev {
                left: 72vw;
            }
        }
    }
    @media (max-width: $screen_xs_max) {
        .section_title {
            margin-bottom: 40px;
            padding-left: 20px;
        }
        .container {
            padding: 0;
        }
        .advantages_area {
            height: 472px;
            padding-bottom: 110px;
        }
        .slick-slider {
            .slick-list {
                padding-left: 45px;
            }
            .slick-slide {
                max-width: 253px;
                min-height: 275px;
                outline: none;
                margin: 4px 10px;
            }
            .slick-current {
                min-height: 275px;
            }
            .slick-arrow {
                bottom: -80px;
                &.slick-prev {
                    left: 56vw;
                }
                &.slick-next {
                    left: 75vw;
                }
            }
        }
        .section_advantages .slider_item .text_box .item_description {
            font-size: 18px;
        }
    }
}

// === / advantages
// ---- about
.section_about {
    .section_title {
        margin-bottom: 75px;
    }
}

// === / about
// --- feedback
.section_feedback {
    padding-bottom: 150px;
    position: relative;
    overflow: visible;
    .bg_logo-1 {
        position: absolute;
        left: -130px;
        top: -234px;
    }
    .feedback_inner_wrap {
        position: relative;
        .feedback_response {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            top: 12px;
            left: 12px;
            border: 2px solid #235086;
            background-color: #fff;
            transition: 1s;
            .response_text {
                font-weight: 500;
                font-size: 36px;
                line-height: 137.4%;
                /* or 49px */
                color: #235086;
            }
        }
        .feedback_inner {
            position: relative;
            z-index: 3;
            background-color: #235086;
            padding-top: 88px;
            padding-bottom: 88px;
        }
    }
    .feedback_title {
        font-weight: bold;
        font-size: 55px;
        line-height: 144.4%;
        /* or 79px */
        color: #FFFFFF;
        margin-bottom: 100px;
    }
    .form_box {
        input {
            outline: none;
            border: none;
        }
        input+input {
            margin-top: 20px;
        }
        .input {
            width: 100%;
            border-bottom: 1px solid #fff;
            padding: 8px 0;
            font-weight: 500;
            line-height: 157.9%;
            /* identical to box height, or 32px */
            color: #fff;
            background-color: rgba(255, 255, 255, 0);
            &::placeholder {
                color: rgba(255, 255, 255, .3);
            }
        }
        .button {
            margin-top: 50px;
            border: none;
            outline: none;
        }
    }
    @media (min-width: $screen_xl) {
        .text_box {
            padding-left: 88px;
            padding-right: 88px;
        }
    }
    @media (min-width: $screen_lg) {
        .text_box {
            padding-left: 44px;
            padding-right: 44px;
        }
        .form_box {
            padding-left: 88px;
            padding-right: 88px;
        }
    }
    @media (min-width: $screen_sm) {
        .input {
            font-size: 20px;
        }
        @keyframes feedback_response {
            0% {
                transform: translateY(0px);
            }
            20% {
                transform: translateY(-350px);
            }
            68% {
                transform: translateY(8px);
            }
            100% {
                transform: translateY(0px);
            }
        }
        @keyframes feedback_inner {
            0% {
                transform: translateY(0px);
            }
            20% {
                transform: translateY(350px);
            }
            68% {
                transform: translateY(-8px);
            }
            100% {
                transform: translateY(0px);
            }
        }
        .feedback_inner_wrap {
            &.active {
                .feedback_response {
                    animation: feedback_response 2s ease;
                    animation-delay: 200ms;
                    z-index: 4;
                }
                .feedback_inner {
                    animation: feedback_inner 2s ease;
                    animation-delay: 200ms;
                }
            }
        }
    }
    @media (max-width: $screen_lg_max) {
        .bg_logo-1 {
            top: -138px;
        }
        .feedback_title {
            font-size: 36px;
        }
    }
    @media (max-width: $screen_md_max) {
        padding-bottom: 100px;
        .feedback_inner {
            padding-left: 30px;
            padding-right: 30px;
        }
        .feedback_numbers {
            flex-direction: column;
        }
    }
    @media (max-width: $screen_xs_max) {
        @keyframes feedback_response_mob {
            0% {
                transform: translateX(0px);
            }
            10% {
                transform: translateX(-400px);
            }
            68% {
                transform: translateX(8px);
            }
            100% {
                transform: translateX(0px);
            }
        }
    }
    .feedback_inner_wrap {
        .feedback_response {
            height: 56%;
            top: 362px;
            .response_text {
                font-size: 22px;
            }
        }
        &.active {
            .feedback_response {
                animation: feedback_response_mob 2s ease;
                animation-delay: 200ms;
                z-index: 4;
            }
        }
        .feedback_title {
            margin-bottom: 40px;
        }
        .feedback_numbers {
            margin-bottom: 40px;
        }
    }
}

// === / feedback
// --- footer
.section_footer {
    background-color: #F0AC5D;
    padding-top: 90px;
    .contacts_title {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 60px;
    }
    .contacts_list {
        display: flex;
        justify-content: center;
        img {
            width: 20px;
        }
        margin-bottom: 60px;
    }
    .bottom_text {
        color: #fff;
        margin-bottom: 30px;
    }
    @media (min-width: $screen_sm) {
        li+li {
            margin-left: 50px;
        }
    }
    @media (max-width: $screen_xs_max) {
        padding-top: 40px;
        .contacts_title {
            margin-bottom: 30px;
            font-weight: 600;
        }
        .contacts_list {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            li+li {
                margin-top: 20px;
            }
        }
        .bottom_text {
            font-weight: 600;
            color: rgba($color: #fff, $alpha: .6);
        }
    }
}

// === / footer