@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box; }

.body {
  font-family: 'Montserrat';
  font-size: 18px; }
  .body p {
    line-height: 153.4%; }
  .body a,
  .body a:hover {
    text-decoration: none;
    color: #fff; }
  .body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .body .container {
    max-width: 1280px; }
  .body .main_btn {
    display: inline-block;
    line-height: 137.4%;
    color: #000000;
    min-width: 241px;
    line-height: 53px;
    text-align: center;
    background: #FFFFFF;
    position: relative;
    z-index: 2;
    transition: .2s ease; }
    .body .main_btn::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 4px;
      width: 100%;
      height: 100%;
      border: 2px solid #FFFFFF;
      z-index: 1;
      transition: .1s ease; }
    .body .main_btn:hover {
      color: #000000; }
    .body .main_btn:active {
      transform: translate(4px, 4px); }
      .body .main_btn:active::after {
        left: 0;
        top: 0; }
  .body .logo {
    font-family: 'Montserrat Alternates';
    font-weight: 900;
    font-size: 35px;
    line-height: 137.4%;
    color: #FFFFFF; }
  .body .bg_logo {
    color: transparent;
    -webkit-text-stroke: 1px rgba(35, 80, 134, 0.2);
    font-weight: 900;
    line-height: 1;
    letter-spacing: 0.135em; }
  .body .section_title {
    font-weight: 500;
    font-size: 60px;
    line-height: 137.4%;
    /* or 84px */
    text-transform: uppercase;
    color: #000000;
    position: relative;
    z-index: 3; }
    .body .section_title span {
      color: #fff;
      position: relative;
      z-index: 2; }
    .body .section_title::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      height: 84px;
      width: 300%;
      background-color: #235086; }
  .body .button_up {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 60px;
    bottom: 60px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #235086;
    z-index: 1000;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .3s; }
    .body .button_up:active {
      transform: scale(0.9); }
    .body .button_up.show {
      opacity: 1;
      visibility: visible; }
    .body .button_up img {
      width: 40px; }
  @media (min-width: 1200px) {
    .body .bg_logo {
      font-size: 350px; } }
  @media (max-width: 1199px) {
    .body .container {
      padding-left: 30px;
      padding-right: 30px; }
    .body .bg_logo {
      font-size: 200px; } }
  @media (max-width: 991px) {
    .body.menu_active .dark_layer {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 99;
      transition: .3s; }
    .body.menu_active .toggle_button .button_item__top {
      width: 58%;
      transform: translate(0px, 2px) rotate(-30deg); }
    .body.menu_active .toggle_button .button_item__bot {
      width: 58%;
      transform: translate(0px, -2px) rotate(30deg); }
    .body.menu_active .menu {
      transform: translateX(0); } }
  @media (max-width: 575px) {
    .body {
      font-size: 16px; }
      .body .container {
        padding-left: 20px;
        padding-right: 20px; }
      .body .logo {
        font-size: 30px; }
      .body .section_title {
        font-size: 34px; }
      .body .main_btn {
        min-width: 176px;
        line-height: 46px; }
      .body .bg_logo {
        font-size: 75px; }
      .body .section_title::before {
        height: 48px; } }

section {
  padding-top: 150px;
  overflow: hidden; }
  @media (max-width: 1199px) {
    section {
      padding-top: 100px; } }

.header {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(29, 27, 27, 0.6);
    transition: .6s; }
  .header.active::before {
    height: 100%; }
  .header .menu_item {
    transition: .3s; }
    .header .menu_item.active {
      background-color: #235086; }
  .header .nav_link {
    position: relative;
    display: inline-block;
    padding: 57px 16px 16px;
    z-index: 100;
    transition: .5s; }
  @media (max-width: 991px) {
    .header {
      background-color: #F0AC5D;
      padding: 20px 0;
      position: fixed;
      top: 0; }
      .header .menu {
        position: fixed;
        flex-direction: column;
        background-color: #F0AC5D;
        left: 0px;
        top: 81px;
        height: 100%;
        transform: translateX(-105%);
        transition: .3s;
        z-index: 100;
        box-shadow: inset 0px 10px 5px -9px rgba(0, 0, 0, 0.75); }
        .header .menu .nav_link {
          padding-top: 30px;
          width: 100%; }
      .header .call_btn {
        position: relative; }
        .header .call_btn img {
          width: 26px; }
        .header .call_btn::after {
          content: "";
          position: absolute;
          top: 50%;
          margin-top: -20px;
          left: 50%;
          margin-left: -20px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0);
          transition: .3s; }
        .header .call_btn:active::after {
          transform: scale(1.5);
          background-color: rgba(255, 255, 255, 0.3); }
      .header .toggle_button {
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .header .toggle_button::after {
          content: "";
          position: absolute;
          top: 50%;
          margin-top: -20px;
          left: 50%;
          margin-left: -20px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0);
          transition: .3s; }
        .header .toggle_button:active::after {
          transform: scale(1.5);
          background-color: rgba(255, 255, 255, 0.3); }
        .header .toggle_button .button_item + .button_item {
          margin-top: 5px; }
        .header .toggle_button .button_item {
          position: relative;
          z-index: 3;
          width: 100%;
          height: 2px;
          background-color: #fff;
          transition: .3s; } }

.section_intro {
  background-color: #F0AC5D;
  padding-top: 165px;
  padding-bottom: 150px;
  position: relative; }
  .section_intro::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    margin-left: 43%; }
  .section_intro .text_box {
    position: relative;
    z-index: 1;
    color: #FFFFFF; }
    .section_intro .text_box .text_title {
      font-size: 61px;
      line-height: 137.4%; }
    .section_intro .text_box .text_subtitle {
      line-height: 137.4%;
      font-weight: 500;
      font-size: 24px; }
  @media (max-width: 1199px) {
    .section_intro {
      padding-bottom: 60px; } }
  @media (max-width: 991px) {
    .section_intro::after {
      margin-left: 0%; }
    .section_intro .text_box {
      z-index: 6; }
      .section_intro .text_box .text_title {
        font-size: 28px; }
      .section_intro .text_box .text_subtitle {
        font-size: 16px; } }
  @media (min-width: 576px) and (max-width: 991px) {
    .section_intro {
      min-height: 800px; }
      .section_intro .text_box {
        margin-top: 300px; }
      .section_intro::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(68, 68, 68, 0.5);
        z-index: 5; } }
  @media (min-width: 576px) {
    .section_intro::after {
      background-image: url(../img/intro.jpg);
      background-size: auto 100%; } }
  @media (max-width: 575px) {
    .section_intro {
      margin-top: 80px;
      padding-bottom: 96px; }
      .section_intro::after {
        background-image: url(../img/intro_mob.jpg); } }

.section_promo {
  position: relative; }
  .section_promo .bg_logo {
    position: absolute;
    left: 60%;
    top: 0%; }
  .section_promo .promo_text {
    line-height: 137.4%; }
  .section_promo .promo_card {
    margin-top: 75px;
    padding: 50px 40px;
    height: 410px;
    position: relative; }
    .section_promo .promo_card .card_num {
      position: absolute;
      top: 15px;
      right: 15px;
      font-weight: 500;
      font-size: 18px;
      line-height: 153.4%;
      color: rgba(255, 255, 255, 0.2); }
    .section_promo .promo_card .card_title {
      font-weight: 500;
      font-size: 34px;
      line-height: 137.4%;
      /* identical to box height, or 47px */
      color: #FFFFFF; }
    .section_promo .promo_card .card_description {
      position: relative;
      z-index: 3;
      margin-top: 25px;
      font-weight: 500;
      font-size: 18px;
      line-height: 152.9%;
      /* or 28px */
      color: #FFFFFF; }
    .section_promo .promo_card .some_text {
      font-weight: 500;
      font-size: 12px;
      line-height: 153.4%;
      /* or 18px */
      color: #235086; }
    .section_promo .promo_card__1 .card_description {
      max-width: 288px; }
    .section_promo .promo_card__1 .some_text {
      position: absolute;
      left: 89px;
      bottom: 55px; }
    .section_promo .promo_card__1 .figure_1 {
      position: absolute;
      left: 68px;
      bottom: -65px;
      height: 187px;
      width: 54px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 27px;
      transform: rotate(90deg); }
    .section_promo .promo_card__1 .figure_2 {
      position: absolute;
      left: 189px;
      bottom: 1px;
      height: 100px;
      width: 54px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 27px; }
    .section_promo .promo_card__1 .figure_3 {
      position: absolute;
      right: 1px;
      bottom: 55px;
      height: 100px;
      width: 54px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 27px; }
    .section_promo .promo_card__1 .figure_4 {
      position: absolute;
      left: 243px;
      bottom: 1px;
      height: 54px;
      width: 54px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%; }
    .section_promo .promo_card__1 .figure_5 {
      position: absolute;
      right: 1px;
      bottom: 242px;
      height: 54px;
      width: 54px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%; }
    .section_promo .promo_card__2 {
      overflow: hidden; }
      .section_promo .promo_card__2 .line_1 {
        position: absolute;
        left: 28px;
        top: 239px;
        height: 44%;
        width: 1px;
        background-color: #FFFFFF;
        transform: rotate(-20deg); }
      .section_promo .promo_card__2 .line_2 {
        position: absolute;
        right: 129px;
        bottom: -44px;
        height: 147%;
        width: 1px;
        background-color: #FFFFFF;
        transform: rotate(27deg); }
      .section_promo .promo_card__2 .line_3 {
        position: absolute;
        right: 53px;
        bottom: -44px;
        height: 147%;
        width: 1px;
        background-color: #FFFFFF;
        transform: rotate(-27deg); }
      .section_promo .promo_card__2 .some_bg_text {
        position: absolute;
        right: 5px;
        font-weight: 900;
        bottom: 5px;
        font-size: 42px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3); }
    .section_promo .promo_card__3 .card_description {
      max-width: 288px; }
    .section_promo .promo_card__3 .some_text__1 {
      position: absolute;
      left: 37px;
      bottom: 18px; }
    .section_promo .promo_card__3 .some_text__2 {
      position: absolute;
      transform: rotate(-90deg);
      right: -7px;
      bottom: 118px; }
    .section_promo .promo_card__3 .figure_1 {
      position: absolute;
      right: 244px;
      bottom: 1px;
      height: 54px;
      width: 54px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%; }
    .section_promo .promo_card__3 .figure_2 {
      position: absolute;
      right: 189px;
      bottom: 1px;
      height: 100px;
      width: 54px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 27px; }
    .section_promo .promo_card__3 .figure_3 {
      position: absolute;
      right: 68px;
      bottom: -65px;
      height: 187px;
      width: 54px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 27px;
      transform: rotate(90deg); }
    .section_promo .promo_card__3 .figure_4 {
      position: absolute;
      right: 1px;
      bottom: 196px;
      height: 54px;
      width: 54px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%; }
    .section_promo .promo_card__3 .figure_5 {
      position: absolute;
      right: 67px;
      bottom: 254px;
      height: 54px;
      width: 54px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%; }
  @media (max-width: 1199px) {
    .section_promo .promo_card_wrap {
      display: flex;
      justify-content: space-evenly;
      align-items: center; } }
  @media (max-width: 991px) {
    .section_promo .bg_logo {
      left: 32%; } }
  @media (min-width: 576px) {
    .section_promo .promo_text {
      font-size: 36px; } }
  @media (max-width: 575px) {
    .section_promo .promo_text {
      text-align: center; }
    .section_promo .promo_card {
      margin-top: 40px;
      padding: 25px;
      height: 320px; }
      .section_promo .promo_card .card_title {
        font-size: 26px; } }

.section_stages {
  position: relative; }
  .section_stages .bg_logo-1 {
    position: absolute;
    left: 36%;
    top: -63px; }
  .section_stages .bg_logo-2 {
    position: absolute;
    right: 767px;
    top: -340px; }
  .section_stages .section_title {
    margin-bottom: 45px; }
  .section_stages .stages_image-1 {
    padding-top: 30px; }
    .section_stages .stages_image-1 img {
      width: 100%; }
  .section_stages .stages_list {
    margin-bottom: 150px; }
    .section_stages .stages_list .list_item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 30px;
      padding-bottom: 15px;
      border-bottom: 2px solid #3F3F3F; }
      .section_stages .stages_list .list_item .item_num {
        font-weight: 900;
        font-size: 20px;
        line-height: 137.4%;
        /* or 27px */
        color: #C4C4C4; }
      .section_stages .stages_list .list_item .item_title {
        width: 60%;
        text-align: right; }
  .section_stages .stages_image-2 {
    position: absolute;
    right: 0;
    z-index: 3; }
    .section_stages .stages_image-2 img {
      width: 100%; }
  .section_stages .color_card {
    position: relative;
    background: #F0AC5D;
    padding: 70px 0; }
    .section_stages .color_card .card_item + .card_item {
      margin-top: 60px; }
    .section_stages .color_card .card_item {
      font-weight: 600;
      color: #FFFFFF; }
      .section_stages .color_card .card_item__num {
        font-size: 36px;
        line-height: 1; }
    .section_stages .color_card .bg_text-1,
    .section_stages .color_card .bg_text-2,
    .section_stages .color_card .bg_text-3 {
      position: absolute;
      z-index: 2;
      color: transparent;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
      font-weight: 600; }
    .section_stages .color_card .bg_text-1 {
      font-size: 96px;
      top: -46px;
      left: -4px; }
    .section_stages .color_card .bg_text-2 {
      font-size: 170px;
      top: 107px;
      left: 135px; }
    .section_stages .color_card .bg_text-3 {
      font-size: 150px;
      bottom: -63px;
      left: -18px; }
  @media (min-width: 1200px) {
    .section_stages .color_card {
      margin-top: 116px; } }
  @media (max-width: 1199px) {
    .section_stages .bg_logo-1 {
      top: 35px; }
    .section_stages .bg_logo-2 {
      right: 486px;
      top: -253px; }
    .section_stages .stages_image-2 {
      width: 64%;
      top: 72px; } }
  @media (max-width: 991px) {
    .section_stages .stages_image-2 {
      top: 186px; }
    .section_stages .color_card .bg_text-2 {
      top: 67px; }
    .section_stages .bg_logo-2 {
      right: 60px;
      top: -230px; }
    .section_stages .bg_logo-1 {
      left: 46%; } }
  @media (max-width: 575px) {
    .section_stages .bg_logo-1 {
      left: -31%;
      top: -74px; }
    .section_stages .stages_list {
      margin-bottom: 100px; }
      .section_stages .stages_list .list_item {
        padding-top: 20px;
        padding-bottom: 5px; }
        .section_stages .stages_list .list_item .item_title {
          width: 80%; }
        .section_stages .stages_list .list_item .item_num {
          font-size: 16px; } }

.section_advantages .bg_logo-1 {
  position: absolute;
  top: -150px;
  left: 500px; }

.section_advantages .section_title {
  margin-bottom: 75px; }

.section_advantages .advantages_area {
  background: url(../img/advantages.jpg) no-repeat 0 0;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 65px;
  height: 812px;
  display: flex;
  align-items: flex-end; }

.section_advantages .slider_item {
  position: relative;
  border: 1px solid #fff;
  transition: .3s; }
  .section_advantages .slider_item .text_box {
    padding: 30px;
    position: relative;
    z-index: 2; }
    .section_advantages .slider_item .text_box .item_num {
      font-weight: 900;
      font-size: 20px;
      line-height: 144.4%;
      /* identical to box height, or 29px */
      color: #FFFFFF;
      margin-bottom: 30px; }
    .section_advantages .slider_item .text_box .item_description {
      font-weight: 600;
      line-height: 137.4%;
      /* or 34px */
      color: #FFFFFF; }
  .section_advantages .slider_item .bg_color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: .3s; }
    .section_advantages .slider_item .bg_color__1 {
      background: #F0AC5D; }
    .section_advantages .slider_item .bg_color__2 {
      background: #235086; }
    .section_advantages .slider_item .bg_color__3 {
      background: #1D1B1B; }
    .section_advantages .slider_item .bg_color__4 {
      background: #F0AC5D; }
    .section_advantages .slider_item .bg_color__5 {
      background: #235086; }
  .section_advantages .slider_item:hover .bg_color {
    opacity: 0.2; }

.section_advantages .slick-slider {
  transition: .3s; }
  .section_advantages .slick-slider .slick-slide {
    cursor: pointer;
    max-width: 380px;
    min-height: 340px;
    outline: none;
    margin: 2px 20px; }
  .section_advantages .slick-slider .slick-current {
    margin: 0 20px;
    min-height: 344px; }
    .section_advantages .slick-slider .slick-current.slider_item {
      border: 1px solid rgba(255, 255, 255, 0); }
      .section_advantages .slick-slider .slick-current.slider_item .bg_color {
        transition: .3s;
        opacity: 1; }
  .section_advantages .slick-slider .slick-arrow {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 0;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    outline: none;
    transition: .3s; }
    .section_advantages .slick-slider .slick-arrow.slick-prev {
      background-image: url(../img/svg/slick-prev.svg);
      background-position: 35%; }
    .section_advantages .slick-slider .slick-arrow.slick-next {
      background-image: url(../img/svg/slick-next.svg);
      background-position: 65%; }
    .section_advantages .slick-slider .slick-arrow:hover {
      background-color: rgba(255, 255, 255, 0.3); }
    .section_advantages .slick-slider .slick-arrow:active {
      border: 2px solid rgba(255, 255, 255, 0);
      background-color: rgba(255, 255, 255, 0.7); }

@media (min-width: 1200px) {
  .section_advantages .slick-arrow.slick-prev {
    left: 1025px; }
  .section_advantages .slick-arrow.slick-next {
    left: 1100px; } }

@media (min-width: 576px) {
  .section_advantages .slick-arrow {
    top: -75px; }
  .section_advantages .slider_item .text_box .item_description {
    font-size: 25px; }
  .section_advantages .slick-list {
    padding-left: 85px; } }

@media (max-width: 1199px) {
  .section_advantages .slick-arrow.slick-prev {
    left: 74vw; }
  .section_advantages .slick-arrow.slick-next {
    left: 81vw; }
  .section_advantages .bg_logo-1 {
    top: -26px; } }

@media (max-width: 991px) {
  .section_advantages .slick-arrow.slick-prev {
    left: 72vw; } }

@media (max-width: 575px) {
  .section_advantages .section_title {
    margin-bottom: 40px;
    padding-left: 20px; }
  .section_advantages .container {
    padding: 0; }
  .section_advantages .advantages_area {
    height: 472px;
    padding-bottom: 110px; }
  .section_advantages .slick-slider .slick-list {
    padding-left: 45px; }
  .section_advantages .slick-slider .slick-slide {
    max-width: 253px;
    min-height: 275px;
    outline: none;
    margin: 4px 10px; }
  .section_advantages .slick-slider .slick-current {
    min-height: 275px; }
  .section_advantages .slick-slider .slick-arrow {
    bottom: -80px; }
    .section_advantages .slick-slider .slick-arrow.slick-prev {
      left: 40vw;
      margin-left: -26px; }
    .section_advantages .slick-slider .slick-arrow.slick-next {
      left: 60vw;
      margin-left: -26px; }
  .section_advantages .section_advantages .slider_item .text_box .item_description {
    font-size: 18px; } }

.section_about .section_title {
  margin-bottom: 75px; }

.section_about .about_image {
  margin-bottom: 5px;
  width: 40%;
  float: right; }

@media (min-width: 992px) {
  .section_about .about_image {
    margin-left: 20%; } }

@media (max-width: 991px) {
  .section_about .about_image {
    margin-left: 10%; } }

@media (max-width: 575px) {
  .section_about .about_image {
    margin-left: 0;
    width: 100%;
    margin-bottom: 40px; } }

.section_feedback {
  padding-bottom: 150px;
  position: relative;
  overflow: visible; }
  .section_feedback .bg_logo-1 {
    position: absolute;
    left: -130px;
    top: -234px; }
  .section_feedback .feedback_inner_wrap {
    position: relative; }
    .section_feedback .feedback_inner_wrap .feedback_response {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 12px;
      left: 12px;
      border: 2px solid #235086;
      background-color: #fff;
      transition: 1s; }
      .section_feedback .feedback_inner_wrap .feedback_response .response_text {
        font-weight: 500;
        font-size: 36px;
        line-height: 137.4%;
        /* or 49px */
        color: #235086; }
    .section_feedback .feedback_inner_wrap .feedback_inner {
      position: relative;
      z-index: 3;
      background-color: #235086;
      padding-top: 88px;
      padding-bottom: 88px; }
  .section_feedback .feedback_title {
    font-weight: bold;
    font-size: 55px;
    line-height: 144.4%;
    /* or 79px */
    color: #FFFFFF;
    margin-bottom: 100px; }
  .section_feedback .form_box input {
    outline: none;
    border: none; }
  .section_feedback .form_box input + input {
    margin-top: 20px; }
  .section_feedback .form_box .input {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 8px 0;
    font-weight: 500;
    line-height: 157.9%;
    /* identical to box height, or 32px */
    color: #fff;
    background-color: rgba(255, 255, 255, 0); }
    .section_feedback .form_box .input::placeholder {
      color: rgba(255, 255, 255, 0.3); }
  .section_feedback .form_box .button {
    margin-top: 50px;
    border: none;
    outline: none; }
  @media (min-width: 1200px) {
    .section_feedback .text_box {
      padding-left: 88px;
      padding-right: 88px; } }
  @media (min-width: 992px) {
    .section_feedback .text_box {
      padding-left: 44px;
      padding-right: 44px; }
    .section_feedback .form_box {
      padding-left: 88px;
      padding-right: 88px; } }
  @media (min-width: 576px) {
    .section_feedback .input {
      font-size: 20px; }
    @keyframes feedback_response {
      0% {
        transform: translateY(0px); }
      20% {
        transform: translateY(-350px); }
      68% {
        transform: translateY(8px); }
      100% {
        transform: translateY(0px); } }
    @keyframes feedback_inner {
      0% {
        transform: translateY(0px); }
      20% {
        transform: translateY(350px); }
      68% {
        transform: translateY(-8px); }
      100% {
        transform: translateY(0px); } }
    .section_feedback .feedback_inner_wrap.active .feedback_response {
      animation: feedback_response 2s ease;
      animation-delay: 200ms;
      z-index: 4; }
    .section_feedback .feedback_inner_wrap.active .feedback_inner {
      animation: feedback_inner 2s ease;
      animation-delay: 200ms; } }
  @media (max-width: 1199px) {
    .section_feedback .bg_logo-1 {
      top: -138px; }
    .section_feedback .feedback_title {
      font-size: 36px; } }
  @media (max-width: 991px) {
    .section_feedback {
      padding-bottom: 100px; }
      .section_feedback .feedback_inner {
        padding-left: 30px;
        padding-right: 30px; }
      .section_feedback .feedback_numbers {
        display: flex;
        flex-direction: column; } }
  @media (max-width: 575px) {
    @keyframes feedback_response_mob {
      0% {
        transform: translateX(0px); }
      5% {
        transform: translateX(5px); }
      15% {
        transform: translateX(-400px); }
      68% {
        transform: translateX(8px); }
      100% {
        transform: translateX(0px); } }
    .section_feedback .feedback_inner_wrap .feedback_inner {
      padding-top: 50px;
      padding-bottom: 50px; }
    .section_feedback .feedback_inner_wrap .feedback_response {
      height: 57%;
      top: 330px; }
      .section_feedback .feedback_inner_wrap .feedback_response .response_text {
        font-size: 22px; }
    .section_feedback .feedback_inner_wrap.active .feedback_response {
      animation: feedback_response_mob 2s ease;
      animation-delay: 200ms;
      z-index: 4; }
    .section_feedback .feedback_inner_wrap .feedback_title {
      margin-bottom: 40px; }
    .section_feedback .feedback_inner_wrap .feedback_numbers {
      margin-bottom: 40px; } }

.section_footer {
  background-color: #F0AC5D;
  padding-top: 90px; }
  .section_footer .contacts_title {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px; }
  .section_footer .contacts_list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px; }
    .section_footer .contacts_list img {
      width: 20px; }
  .section_footer .bottom_text {
    color: #fff;
    margin-bottom: 30px; }
  @media (min-width: 576px) {
    .section_footer li + li {
      margin-left: 50px; } }
  @media (max-width: 575px) {
    .section_footer {
      padding-top: 40px; }
      .section_footer .contacts_title {
        margin-bottom: 30px;
        font-weight: 600; }
      .section_footer .contacts_list {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px; }
        .section_footer .contacts_list li + li {
          margin-top: 20px; }
      .section_footer .bottom_text {
        font-weight: 600;
        color: rgba(255, 255, 255, 0.6); } }
